/* Colour References */

/*
  Light Text - White
  Dark Text - #434343
  About Background - #ebece7
  Muted Dark Background - #5D5959
  Corrected Dark Background - #252d2f
*/

/* Font Optimisation */

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #434343;
}

/* Typography */

* {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: #252d2f;
}

h1 {
  font-size: 82px;
}

h2 {
  font-size: 38px;
}

h6 {
  font-size: 24px;
}

p {
  line-height: 1.5;
}

/* Components */

.button {
  background-color: transparent;
  border: 1px solid #434343;
  padding: 5px 15px;
  color: #434343;
  font-size: 17px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #434343;
  text-decoration: none;
  color: white;
}

.button-light {
  border-color: white;
  color: white;
}

.button-light:hover {
  background-color: white;
  color: #434343;
}

/* Layout */

section {
  padding: 40px 0;
}

.subtitle-row {
  margin-bottom: 30px;
}

/* Helper Classes*/

.text-light {
  color: white;
}

.animate-fade {
  opacity: 0;
}

.fullscreen {
  height: 100vh;
  width: 100%;
}

.third-screen {
  height: 30vh;
  width: 100%;
}

.two-third-screen {
  height: 66vh;
  width: 100%;
}

.half-screen {
  position: relative;
  height: 50vh;
  width: 100%;
}

.overlay-dark {
  position: relative;
  z-index: 0;
}

.overlay-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.bottom-lead {
  margin-top: 20px;
}

.no-display {
  display: none;
}

.bordered {
  border-top: 1px solid #252d2f;
}

.small-container {
  max-width: 900px;
  width: 70%;
  margin: 0 auto;
}

.no-padding {
  padding: 0;
}

.force-item-info-visibility {
  display: block !important;
  opacity: 1 !important;
}

/* Header-Specific Styles */

#youniverse-header {
  background-image: url('/img/header_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;1
}

.navigation-bar {
  height: 80px;
  background-color: transparent;
  z-index: 7;
  position: absolute;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.navigation-bar.navigation-fixed {
  position: fixed;
  background-color: #252d2f !important;
  z-index: 100;
}

.navigation-bar .col-sm-12 {
  line-height: 80px;
  z-index: 7;
}

.navigation-bar img {
  width: 150px;
  z-index: 7;
}

.navigation-bar .nav-toggle {
  position: relative;
  width: 40px;
  height: 30px;
  margin-top: 25px;
  z-index: 7;
  cursor: pointer;
}

.navigation-bar .nav-toggle-bar {
  position: absolute;
  display: block;
  background-color: white;
  width: 100%;
  height: 1px;
  z-index: 7;
  bottom: 15px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.navigation-bar .nav-toggle-bar:before {
  content: "";
  position: absolute;
  display: block;
  background-color: white;
  width: 100%;
  height: 1px;
  z-index: 7;
  top: -10px;
  transition: all 0.3s ease-in-out;
}

.navigation-bar .nav-toggle-bar:after {
  content: "";
  position: absolute;
  display: block;
  background-color: white;
  width: 100%;
  height: 1px;
  z-index: 7;
  top: 10px;
  transition: all 0.3s ease-in-out;
}

.navigation-bar .nav-toggle.nav-open .nav-toggle-bar:before {
  top: 0;
  transform: rotate(45deg);
}

.navigation-bar .nav-toggle.nav-open .nav-toggle-bar:after {
  top: 0;
  transform: rotate(-45deg);
}

.navigation-bar .nav-toggle.nav-open .nav-toggle-bar {
  background-color: transparent;
}


.navigation-main {
  background-color: rgba(67, 67, 67, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  transition: opacity 0.2s ease-in-out;
  display: none;
}

.navigation-main .navigation-list {
  position: absolute;
  list-style: none;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation-main .navigation-list a:active, .navigation-main .navigation-list a:hover {
  text-decoration: none;
}

.navigation-main .navigation-list li {
  position: relative;
  font-family: 'Lora', serif;
  font-size: 26px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.navigation-main .navigation-list li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  border-bottom: 1px solid white;
  bottom: 0px;
  left: calc(50% - 5px);
  padding-bottom: 20px;
}

.navigation-main .navigation-list li:last-child::before{
  border-bottom: none;
}

.navigation-closed {
  opacity: 0;
}

.navigation-open {
  overflow: hidden;
}

.navigation-dark {
  background-color: #252d2f !important;
}

.header-wrapper {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.header-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.header-baseline {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.header-icon {
  font-size: 24px;
}

.header-data-container {
  white-space: normal;
  width: 100%;
  margin-top: 30px;
}

#company-header {
  position: relative;
  background-color: #ebece7;
}

.company-header {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100% - 80px);
}

.company-header-wrapper {
  position: relative;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.company-header-center {
  position: relative;
  top: 50%;
  transform: translateY(-60%);
}

.company-header-center h1 {
  margin-bottom: 80px;
}

@media only screen and (max-width: 992px) {
  .header-center h1 {
    font-size: 68px;
  }
}

@media only screen and (max-width: 768px) {
  .header-center h1 {
    white-space: normal;
    text-align: center;
    font-size: 75px;
  }
}

@media only screen and (max-width: 480px) {
  .header-center h1 {
    font-size: 55px;
  }
}

/* About Specific Styles */

#home-about {
  background-color: #ebece7;
}

.wand-img {
  margin: 45px 0 0 0;
  padding: 0;
}

/* Work Specific Styles */

#home-work {
  padding-bottom: 0;
}

.work-container {
  text-align: left;
  margin-top: 40px;
}

.work-item {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  height: 600px;
  float: left;
  background-color: yellow;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.work-item.half {
  width: 50%;
}

.work-item.full {
  width: 100%;
}

.work-item-info {
  position: absolute;
  width: 100%;
  height: 35%;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  opacity: 1;
  text-align: center;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.work-item-info.item-hidden {
  opacity: 0;
}

.work-info-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-70%);
}

.work-item-info h6{
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  margin-bottom: 25px;
}

.button-work {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}

@media only screen and (max-width: 1320px) {
  .work-item {
    height: 500px;
  }
}

@media only screen and (max-width: 1200px ) {
  .work-item {
    height: 450px;
  }

  .work-item-info h6 {
    font-size: 30px;
  }

  .work-item-info .button-work {
    font-size: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .work-item {
    height: 400px;
  }

  .work-item-info h6 {
    font-size: 24px;
  }

  .work-item-info .button-work {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .work-item {
    height: 300px;
    width: 100% !important;
  }
}

/* Client Specific Styles */

.client-container {
  margin-top: 30px;
}

.client-grid img {
  max-width: 100%;
  margin-top: 30px;
}

/* Social Media Specific Styles */

.social-media-grid {
  width: 100%;
  box-sizing: border-box !important;
}

.social-media-item {
  box-sizing: border-box !important;
  width: 25%;
  height: 300px;
  background-color: yellow;
  margin: 0;
  padding: 0;
  margin-left: -1px !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.grid-sizer {
  width: 25%;
}

.social-item-wide {
  width: 50%;
  background-color: green;
}

.social-item-tall {
  height: 600px;
  background-color: orange;
}

.social-item-large {
  width: 50%;
  height: 600px;
  background-color: pink;
}

.social-item-facebook {
  background-color: #3a579b !important;
}

.social-item-twitter {
  background-color: #00aff0 !important;
}

.social-data {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
}

.social-data a {
  color: white;
  text-decoration: underline;
}

.social-footer {
  position: absolute;
  width: 90%;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.social-footer i {
  font-size: 32px;
  color: white;
}

.social-footer p {
  color: white;
}

.social-footer strong {
  color: white;
}

@media only screen and (max-width: 992px) {
  .social-data {
    font-size: 14px;
  }

  .social-media-item {
    height: 250px;
  }

  .social-item-tall {
    height: 500px;
  }

  .social-item-wide {
    height: 250px;
  }

  .social-item-large {
    height: 500px;
  }
}

@media only screen and (max-width: 768px) {
  .social-media-item {
    width: 50% !important;
  }
}

@media only screen and (max-width: 480px) {
  .social-data {
    font-size: 13px;
  }

  .social-footer p, .social-footer strong {
    font-size: 11px;
  }

  .social-footer i {
    font-size: 20px;
  }
}

/* Footer Specific Styles */

footer {
  background-color: #434343;
  overflow: hidden;
  width: 100%;
  height: 125px;
}

footer img {
  width: 400px;
  max-width: 80%;
  margin-top: 30px;
}

.footer-social {
  list-style: none;
  padding-left: 10px;
  padding-top: 30px;
}

.footer-social li {
  display: inline-block;
  padding: 0 10px;
  margin-top: 20px;
}

.footer-social li i {
  color: #252d2f;
  font-size: 20px !important;
}

/* Work Page Specific Styles */

#work-header {
  background-color: #ebece7;
}

.work-filter-list {
  list-style: none;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
  white-space: nowrap;
  text-transform: lowercase;
}

.work-filter-list li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
  font-family: 'Lora', serif;
  font-size: 19px;
}

.mobile-filter {
  display: none;
  position: absolute;
  width: 90%;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.mobile-filter p, .mobile-filter span {
  font-family: 'Lora', serif;
  font-size: 18px;
}

.mobile-filter i {
  padding-left: 15px;
}

.mobile-toggle-menu {
  position: absolute;
  top: 50px;
  right: 0;
}

.mobile-toggle-menu .mobile-filter-list {
  background-color: rgba(235, 236, 231, 0.8);
  border: 1px solid #252d2f;
  border-radius: 5px;
  list-style: none;
  padding: 10px 20px;
  text-align: center;
}

.mobile-toggle-menu .mobile-filter-list li {
  font-family: 'Lora', serif;
  font-size: 17px;
  color: black;
  padding: 5px 0;
}

.mobile-toggle-menu.toggle-off {
  display: none;
}

.mobile-toggle-menu.toggle-on {
  display: block;
}

.work-filter-list li:hover {
  text-decoration: underline;
}

.work-filter-list li.active {
  text-decoration: underline;
}

#work-list {
  padding-top: 0;
  margin-top: 0;
}

#work-list .work-container {
  margin-top: 0;
}

#work-list .work-item, #from-the-vault .work-item {
  position: relative;
  width: 33.3333%;
  height: 450px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  transition: opacity 0.3s ease-in-out;
}

#from-the-vault .work-item {
  margin-top: 50px;
  margin-bottom: 50px;
}

#from-the-vault h1 {
  padding-top: 50px;
}

@media only screen and (max-width: 1500px) {
  #work-list .work-item, #from-the-vault .work-item {
    height: 400px;
  }
}

@media only screen and (max-width: 1300px) {
  #work-list .work-item, #from-the-vault .work-item {
    height: 350px;
  }

  #work-list .work-item h6, #from-the-vault .work-item h6 {
    font-size: 28px;
  }

  #work-list .work-item .button-work, #from-the-vault .work-item .button-work {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  #work-list .work-item {
    width: 50%;
    height: 400px;
  }
}

@media only screen and (max-width: 992px) {
  .work-filter-list li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .work-filter-list {
    display: none;
  }

  .mobile-filter {
    display: block;
  }

  #work-list .work-item:last-child {
    margin-bottom: 50px;
  }

  #from-the-vault .work-item {
    margin: 0 !important;
  }

  #from-the-vault .container {
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .mobile-filter p, .mobile-filter span {
    font-size: 15px;
  }

  #from-the-vault h1 {
    font-size: 50px;
  }
}

/* Company Specific Styles */

.company-filter-list {
  list-style: none;
}

.company-filter-list li {
  display: inline-block;
  padding: 0 20px;
  font-size: 20px;
}

.company-filter-list li.active {
  text-decoration: underline;
}

#company-main {
  padding: 0;
  margin: 0;
}

.company-row {
  height: 600px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.company-block {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 50%;
  float: left;
}

.company-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.company-img-right .company-img {
  float: right;
}

.company-description {
  padding-top: 50px;
}

.company-description .company-data {
  width: 90%;
  margin: 0 auto;
}

.company-description .company-data h2, .company-description .company-data p {
  margin-bottom: 40px;
}

.company-description .company-data p {
  font-size: 17px;
}

#company-three-col {
  padding: 0;
  margin: 0;
}

.company-more-row {
  height: 400px;
}

.company-more-item {
  box-sizing: border-box;
  width: 33.33333%;
  height: 100%;
  background-color: yellow;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: left;
}

.team-grid {
  margin-top: 30px;
}

.team-member {
  box-sizing: border-box;
  height: 350px;
  width: 25%;
  background-color: lightgrey;
  float: left;
}

.team-member.light {
  background-color: grey;
}

#company-partners {
  padding-bottom: 50px;
}

#company-partners h2 {
  padding-top: 50px;
}

.content-row {
  margin-top: 40px;
}

.content-row img {
  max-width: 100%;
  max-height: 100%;
}

.partners-table {
  display: table;
  width: 100%;
  margin-top: 40px;
}

.partners-images, .partners-descriptions {
  display: table-row;
}

.partners-descriptions .partner-data h3 {
  margin-top: 40px;
}

.partners-images .partner-img, .partners-descriptions .partner-data {
  display: table-cell;
}

.partners-images .partner-img img {
  max-width: 80%;
  vertical-align: middle;
}

.partner-img {
  padding: 10px 20px;
}

.partner-data p {
  padding: 5px 25px;
}

.partners-non-table {
  display: none;
}

@media screen and (max-width: 1200px) {
  .company-row {
    height: 500px;
  }

  .company-block.company-description {
    padding-top: 20px;
  }

  .company-block h2 {
    font-size: 30px;
  }

  .company-block .company-data p {
    font-size: 15px;
  }

  .company-data img {
    max-width: 300px;
  }

  .company-more-row {
    height: 300px;
  }

  .team-member {
    height: 250px;
  }
}

@media only screen and (max-width: 994px) {
  .company-header-center .small-container {
    width: 100%;
  }

  .company-filter-list li {
    font-size: 17px;
  }

  .company-description .company-data h2 {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .company-description .company-data p {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .company-description .company-data img {
    max-width: 200px;
  }

  .company-more-row {
    height: 250px;
  }

  .team-member {
    width: 33.3333%;
  }

  #company-partners {
    margin-top: 650px;
  }
 }

 @media only screen and (max-width: 768px) {
   .company-header-center h1 {
     font-size: 60px;
   }

   .company-filter-list li {
     padding: 0 10px;
     font-size: 15px;
   }

   .company-block {
     width: 100%;
     height: 400px;
   }

   .company-block.company-img {
     height: 300px;
   }

   .company-block.company-description {
     padding: 30px;
     text-align: center;
   }
   .company-block.company-description h2 {
     font-size: 24px;
   }

   .company-block.company-description p {
     font-size: 13px;
   }

   .company-more-row {
     height: 200px;
   }

   #company-team {
     margin-top: 200px;
   }

   .team-member {
     width: 50%;
     height: 300px;
   }

   #company-partners {
     margin-top: 1100px;
   }

   .partners-table {
     display: none;
   }

   .partners-non-table {
     display: block;
     text-align: center;
     margin-top: 30px;
   }

   .partners-non-table img {
     max-width: 40%;
     margin-top: 30px;
     margin-bottom: 30px;
   }

   .partners-non-table .row {
     margin-bottom: 50px;
     width: 80%;
     margin: 0 auto;
   }
 }

 @media only screen and (max-width: 480px) {
   .company-header-center h1 {
     font-size: 50px;
   }

   .company-header-center p {
     font-size: 13px;
   }

   .company-filter-list {
     white-space: nowrap;
     padding-left: 0;
   }

   .company-filter-list li {
     font-size: 12px;
   }

   .company-block.company-description {
     height: auto !important;
   }

   .company-more-row {
     height: 150px;
   }

   #company-team {
     margin-top: 250px;
   }

   .team-member {
     height: 200px;
   }

   #company-partners {
     margin-top: 700px;
   }

   .partners-non-table img {
     max-width: 60% !important;
   }
 }



/* Single Page Specific Styles */

.single-item-row {
  position: relative;
  height: 600px;
  min-height: 600px;
  width: 100%;
}

.single-item-block {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  float: left;
}

.single-item-img-right .single-item-img {
  float: right;
}

.single-item-img-left .single-item-img {
  float: left;
}

.single-item-img-left .single-item-desc {
  float: right;
}

.single-item-desc {
  padding: 60px 80px 0px 80px;
  background-color: #4e5156;
}

.single-item-desc img {
  padding-top: 60px;
}

.single-item-desc.accent {
  background-color: #debf7e;
}

.single-item-desc h2 {
  font-size: 48px;
  line-height: 1.3;
  padding-bottom: 20px;
}

.single-item-desc img {
  max-width: 450px;
}

.single-item-desc p {
  padding-top: 20px;
  font-size: 16px;
  color: #252d2f;
}

.single-item-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#single-film-strip {
  height: 400px;
  width: 100%;
}

#single-film-strip .strip-item {
  box-sizing: border-box;
  width: 33.333%;
  height: 100%;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#single-main-image {
  height: 700px;
  width: 100%;
  padding: 0;
}

#single-main-image .main-image-container {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1300px) {
  .single-item-row {
    height: 550px;
    min-height: 550px;
  }

  .single-item-block {
    padding: 45px;
  }

  #single-main-image {
    height: 600px;
  }
}

@media only screen and (max-width: 1200px) {
  .single-item-row h2 {
    font-size: 40px;
  }

  .single-item-row img {
    max-width: 300px;
  }

  .single-item-row {
    height: 500px;
    min-height: 500px;
  }

  .single-item-row p {
    font-size: 15px;
  }

  #single-film-strip {
    height: 300px;
  }

  #single-main-image {
    height: 500px;
  }
}

@media only screen and (max-width: 994px) {
  .single-item-row {
    height: 400px;
    min-height: 400px;
  }

  .single-item-row h2 {
    font-size: 36px;
    margin-top: 0;
  }

  .single-item-row img {
    max-width: 250px;
  }

  .single-item-block {
    padding: 20px;
  }

  .single-item-block p {
    font-size: 13px;
  }

  .single-item-block.single-item-desc h2 {
    padding-bottom: 0;
  }

  .single-item-block.single-item-desc p {
    padding-top: 10px;
  }

  #single-film-strip {
    height: 250px;
  }

  #single-main-image {
    height: 400px;
  }
}

@media only screen and (max-width: 768px) {
  .single-item-row {
    height: 350px;
    min-height: 350px;
  }

  .single-item-block {
    width: 100%;
    text-align: center;
    padding-top: 70px;
  }

  .single-item-row h2 {
    font-size: 30px;
  }

  .single-item-row img {
    max-width: 200px;
  }

  #single-film-strip {
    height: 200px;
  }

  #single-main-image {
    margin-top: 700px;
    height: 350px;
  }
}

@media only screen and (max-width: 480px) {
  .single-item-desc.accent {
    padding-top: 35px;
  }

  #single-film-strip {
    height: 150px;
  }

  #single-main-image {
    height: 250px;
  }
}
